@media (max-width: 720px){
  .wrapper {
    @include wrapper(95%);
  }

  span {
    display: block;
  }

  .content {
    padding: 1px 1px 43px 1px;
  }

  .recWordTitle {
    line-height: 1.5rem;
  }

  footer {
    height: 43px;
    p,
    a {
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 425px){
  form {
    input,
    button {
      width: 80%;
      margin: 5px 0;
    }
  }
}